html, body {
    background: #F0F8EA;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: #1a1a1a;
    color: #EBEBD3;
    padding: 1em 0;
    position: relative;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.logo span {
    font-weight: 400;
}

.nav-bar {
    position: absolute;
    top: 100%;
    right: 0%;
    background:#ff3333;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;

}

.nav-bar--open {
    clip-path: circle(250% at top right);
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-bar li {
    border-bottom: 1px solid #575766;
}

.nav-bar li:last-child {
    border-bottom: none;
}

.nav-bar a {
    color: #EBEBD3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar a:hover,
.nav-bar a:focus {
    background: #ffcccc;
    color:  #e6e600;
}


.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.widgets,
.widgets::before,
.widgets::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.widgets::before {
    transform: translateY(-6px);
}

.widgets::after {
    transform: translateY(3px);
}

.open .widgets {
    transform: rotate(45deg);
}

.open .widgets::before {
    opacity: 0;
}

.open .widgets::after {
    transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {

    .menu-toggle {
        display: none;
    }

    .nav-bar {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .nav-bar li {
        display: inline-block;
        border: none;
    }

    .nav-bar a {
        padding: 0;
        margin-left: 3em;
    }

    .nav-bar a:hover,
    .nav-bar a:focus {
        background: transparent;
    }


}

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 700px;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 700px;
}

@media (max-width: 600px) {
    .column1 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
}
* {
    box-sizing: border-box;
}

/*Slider*/
.slider{
    width: 1300px;
    height: 500px;
    background: url('../images/p1.jpg');
    margin: 100px auto;
    animation: slide 20s infinite;
    
}

@keyframes slide  {
    25%{
        background-image: url("../images/p2.jpg");
    }
    50%{
        background: url("../images/p3.jpg");
    }
    75%{
        background: url("../images/p5.jpg");
    }
    100%{
        background: url("../images/p1.jpg");
    }
}

@media (max-width: 700px) {
    .slider{
        width: 100%;
    }
}